       <!-- Header v3 :: Start-->
       <header class="header header--v3 {{ fixed_header ? 'js-sticky' : ''}}">
          <div class="topbar">
            <div class="container-fluid">
              <div class="row">
                <div class="col col-md-auto">
                <div class="logo">
					{% if (header_logo) %} 
						<a {{ home == og_url ? '' : 'href="' ~ home ~'"'}}><img src="{{ header_logo }}" title="{{ name }}" alt="{{ name }}"></a>
						{% else %} 
						<a class="logo__text" {{ home == og_url ? '' : 'href="' ~ home ~'"'}}>{{ header_text_logo }}</a>
					{% endif %} 
				</div>
                </div>
                <div class="col col-nav">
                  <nav class="nav">
                    <div class="container-fluid">
            <div class="nav__mobile">
              <ul class="nav__menu">
                <li><a class="nav__link nav__link--arrow" href="#">
                    <svg class="icon-toggle">
                      <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-toggle"></use>
                    </svg>{{ text_technics_menu }}</a>
                  <div class="nav__dropdown nav__dropdown--list">
                    <div class="nav__list">
                      <div class="nav__list-head">
                        <button class="nav__list-close">
                          <svg class="icon-back">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-back"></use>
                          </svg>
                        </button><b class="nav__list-heading">{{ text_header_category }}</b>
                      </div>
                      <div class="nav__list-body">
                        <ul class="nav__list-menu"></ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav__priority">
              <ul class="nav__menu js-priority" data-text-more="{{ text_nav_more }}">
                <!-- MAIN NAV  -->
				{% if (main_navs_v is not empty) %}
                  <!-- MAIN NAV Vertical  -->
                <li><a class="nav__link nav__link--arrow" {% if (main_navs_v.header.link) %}href="{{ main_navs_v.header.link }}"{% endif %}>
                    <svg class="icon-toggle">
                      <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-toggle"></use>
                    </svg>{% if (main_navs_v.header.name) %} {{ main_navs_v.header.name }} {% else %} {{ text_header_category }} {% endif %} </a>
                  <div class="nav__dropdown">
                    <div class="nav__list">
                      <div class="nav__list-head">
                        <button class="nav__list-close">
                          <svg class="icon-back">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-back"></use>
                          </svg>
                        </button><b class="nav__list-heading">{{ text_header_category }}</b>
                      </div>
                      <div class="nav__list-body">
                        <ul class="nav__list-menu">
                  {% for key,main_nav in main_navs_v %}
                        {% if (main_nav.view is defined) %} 
                          {{ main_nav.view }}
                        {% endif %}
                   {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                  <!-- MAIN NAV Vertical  --> 
				{% endif %}
				{% if (main_navs is not empty) %}
                  <!-- MAIN NAV Horizontal  -->
                  {% for key,main_nav in main_navs %} 
                      {% if (main_nav.view is defined) %} 
                        {{ main_nav.view }}
                      {% endif %}                  
                  {% endfor %} 
                  <!-- MAIN NAV Horizontal  -->                 
                <!-- MAIN NAV  -->
				{% endif %}
              </ul>
            </div>
                    </div>
                  </nav>
                </div>
                <div class="col-auto col-search">
{{ search }}
                </div>
                <div class="col-auto">
                <div class="ctrl">
				{% if (logged) %} 
                  <div class="acc js-toggle">
                    <button class="acc__btn js-toggle-btn">
                      <svg class="icon-user">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-user"></use>
                      </svg>{{ text_ls_logged }} <span id="wishcomptotall" class="acc__counter" {{ counTotall ? '' : ' style="display:none;" ' }} >{{ counTotall }}</span>
                    </button>
                    <div class="acc__dropdown js-toggle-dropdown">
                      <ul class="acc__menu">
                        <li><a class="acc__link" href="{{ account }}">{{ text_account }}</a></li>
                        <li id="wish">{{ wish_head }}</li>
                        <li id="compare">{{ compare_head }}</li>
                        <li><a class="acc__link" href="{{ order }}">{{ text_order }}</a></li>
                        <li><a class="acc__link" href="{{ logout }}">{{ text_logout }}</a></li>
                      </ul>
                    </div>
                  </div>
				{% else %} 
                  <div class="acc js-toggle">
                    <button class="acc__btn js-toggle-btn">
                      <svg class="icon-user">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-user"></use>
                      </svg>{{ text_technics_account }} <span id="wishcomptotall" class="acc__counter" {{ counTotall ? '' : ' style="display:none;" ' }} >{{ counTotall }}</span>
                    </button>
                    <div class="acc__dropdown js-toggle-dropdown">
                      <ul class="acc__menu">
                        <li><a class="acc__link js-fancy-popup" href="#signin">{{ text_account_title }} / {{ text_register }}</a></li>
                        <li id="wish">{{ wish_head }}</li>
                        <li id="compare">{{ compare_head }}</li>
                      </ul>
                    </div>
                  </div>
				{% endif %}
{{ language }}
{{ currency }}
                </div>
                </div>
{{ cart }}
              </div>
            </div>
          </div>
        </header>
      <!-- Header v3 :: End-->