							<li>
							  <button class="tabs__btn" data-tabs-btn="tab_coupon">{{ text_technics_coupon }}</button>
							</li>
							
						  <div class="tabs__content" data-tabs-content="tab_coupon">
							<div class="basket__coupon">
							  <label class="ui-label">{{ text_technics_coupon }}</label>
							  <input class="ui-input" type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}">
							  <a id="button-coupon" data-loading-text="{{ text_loading }}" href="#" class="btn btn--link">{{ button_submit }}</a>
							</div>
						  </div>