							<li>
							  <button class="tabs__btn" data-tabs-btn="tab_reward">{{ text_technics_reward }}</button>
							</li>
							
						  <div class="tabs__content" data-tabs-content="tab_reward">
							<div class="basket__coupon">
							  <label class="ui-label">{{ text_technics_reward }}</label>
							  <input class="ui-input" type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}">
							  <a id="button-reward" data-loading-text="{{ text_loading }}" href="#" class="btn btn--link">{{ button_submit }}</a>
							</div>
						  </div>