{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
      <!-- Main :: Start-->
      <main class="main">
        <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid">
            <ul class="breadcrumbs__menu">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i + 1 < (breadcrumbs)|length) %} 
				<li><a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
				{% else %} 
				<li>{{ breadcrumb['text'] }}</li>
				{% endif %}
			{% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
		{{ content_top }}
        <!-- Page :: Start-->
        <div class="page">
          <div class="container-fluid">
            <h1 class="page__heading">{{ heading_title }}</h1>
            <div class="row">
			{{ column_left ? '<div id="column-left" class="col-xl-3">' ~ column_left ~ '</div>' : ''}}
			<div class="col-xl-{{ col }}">
				<p>Please enter your shipping tracking No. below:</p>
		  
				  <div class="form-group required">
					<label class="col-sm-2 control-label" for="input-code">{{ entry_code }} </label>
					<div class="col-sm-10">
					  <input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control" />
					</div>
				  </div>
			</div>
			{{ column_right ? '<div id="column-right" class="col-xl-3">' ~ column_right ~ '</div>' : ''}}
            </div>
          </div>
        </div>
        <!-- Page :: End-->
		{{ content_bottom }}
      </main>
      <!-- Main :: End-->
{{ footer }}
<script type="text/javascript"><!--
$('#button-tracking').on('click', function() {
    $.ajax({
        url: 'index.php?route=information/tracking/tracking&code=' + $('input[name="code"]').val(),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-login').button('loading');
		},
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// Highlight any found errors
				$('input[name=\'email\']').parent().addClass('has-error');
				$('input[name=\'password\']').parent().addClass('has-error');
		   }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
</script>
</body></html>